<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>

      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <a matLine routerLink="/" (click)="sidenav.close()">Home</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <div class="wa-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Weather App</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>